@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-square: var(--square);
  --font-inter: var(--inter);
  --color-primary: #4caf50;
  --color-secondary: white;
  --color-primary-neutral: #99a1af;
  --color-primary-black: #12170F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

html,
.noScroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.p-icon-field {
  width: 100%;
}

.p-icon-field > .p-input-icon {
  transform: translateY(-20%);
}

/* set the primary button to be green */
.p-button {
  @apply focus:ring-0;
}
.p-button.primary, .p-button.buy {
  @apply bg-primary border-primary;
}
 .p-button.buy {
  @apply hover:bg-primary/90;
}
.p-button.out {
  @apply bg-red-500/30 text-red-500 border-red-500/30;
}
.p-inputtext {
  @apply focus:ring-0 ring-0 drop-shadow-none;
}
.p-button.action {
  @apply bg-transparent focus:ring-0 border-transparent text-black border-0;
}

.p-button.p-button-icon-only{
  @apply bg-transparent text-primary border-primary
}

.p-button.p-component[aria-label="Upload"]{
  @apply hidden
}

/* set the check to be green */
.p-checkbox.p-highlight .p-checkbox-box{
  @apply bg-primary border-primary
}